<!DOCTYPE html>
<html>
  <head>
    <title>Sales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <%= cloudinary_js_config %>
  </head>

  <body>
  <% unless action_name == "home" %>
  
  <nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#n_bar" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="n_bar">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="customersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customers
          </a>
          <ul class="dropdown-menu" aria-labelledby="customersDropdown">
            <li><%= link_to "All Customers", customers_path, class:"dropdown-item" %></li>
            <li><%= link_to "New Customer", new_customer_path, class:"dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="waverunnersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Waverunners
          </a>
          <ul class="dropdown-menu" aria-labelledby="waverunnersDropdown">
            <li><%= link_to "All Waverunners", waverunners_path, class:"dropdown-item" %></li>
            <li><%= link_to "New Waverunner", new_waverunner_path, class:"dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="trailersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Trailers
          </a>
          <ul class="dropdown-menu" aria-labelledby="trailersDropdown">
            <li><%= link_to "All Trailers", trailers_path, class:"dropdown-item" %></li>
            <li><%= link_to "New Trailer", new_trailer_path, class:"dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accessoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accessories
          </a>
          <ul class="dropdown-menu" aria-labelledby="accessoriesDropdown">
            <li><%= link_to "All Accessories", accessories_path, class:"dropdown-item" %></li>
            <li><%= link_to "New Accessories", new_accessory_path, class:"dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <% end %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
