<!DOCTYPE html>
<html>
  <head>
    <title>Sales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="nav">
  <nav>
  <%= link_to "All Customers", customers_path %>
  <%= link_to "New Customer", new_customer_path %>
  |

  </nav>
  </div>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
